*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea/gradle.xml
.idea/misc.xml
.idea/runConfigurations.xml
.idea/deploymentTargetSelector.xml
.idea/vcs.xml
.idea/compiler.xml
.idea/MarsCodeWorkspaceAppSettings.xml
.idea/deviceManager.xml
.idea/material_theme_project_new.xml
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
# Ou, se você quer ser mais específico e permitir alguns arquivos .idea (menos comum para os que foram adicionados):
# .idea/*.xml
# Mas exclua os que podem ser compartilhados, se aplicável:
# !.idea/codeStyles/
# !.idea/runConfigurations/