# Default ignored files
/shelf/
/workspace.xml

.idea/gradle.xml
.idea/misc.xml
.idea/runConfigurations.xml
.idea/deploymentTargetSelector.xml
.idea/vcs.xml
.idea/compiler.xml
.idea/MarsCodeWorkspaceAppSettings.xml